{% extends "base.html"%}
{% block content %}
{% for post in post_list %}
<div class="post-entry">
    <h2><a href="{% url 'post_detail' post.pk%}">{{post.title}}</a></h2>
    <p>{{post.body}}</p>
</div>

{% endfor %}
<style>
    .container {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .container>* {
        flex-basis: auto;
    }
</style>


<div class="container">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptates facilis facere ut odit officiis!
        Quam, sequi assumenda consequatur, labore doloremque tempora eum quas voluptas nihil modi, adipisci deleniti
        magnam!

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dignissimos minus adipisci quibusdam,
        possimus necessitatibus, deserunt repellendus itaque, autem enim ipsa tempora voluptatibus earum aliquid
        blanditiis id in illum quos!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptates facilis facere ut odit officiis!
        Quam, sequi assumenda consequatur, labore doloremque tempora eum quas voluptas nihil modi, adipisci deleniti
        magnam!

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dignissimos minus adipisci quibusdam,
        possimus necessitatibus, deserunt repellendus itaque, autem enim ipsa tempora voluptatibus earum aliquid
        blanditiis id in illum quos!
    </p>


</div>

{% endblock content%}